<!-- ======= Popular Courses Section ======= -->
<section id="popular-courses" class="courses">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Formations</h2>
      <p>Les meilleurs cours</p>
    </div>



    <section id="categorie" class="categorie">
      <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-end">
        <ul id="categorie-flters">
          <li data-filter="*" class="filter-active">Communication</li>
          <li data-filter=".filter-app">Digital</li>
          <li data-filter=".filter-card">Programmation</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>
  </div>
</section>




    




    <div class="row" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="course-item">
          <img src="assets/img/coding.jpg" class="img-fluid" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>Web Development</h4>
              <p class="price">$169</p>
            </div>

            <h3><a href="">Website Design</a></h3>
            <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                <span>Fabien</span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->
<section id="courses" class="courses">
  <div class="container" data-aos="fade-up">

    <div class="row" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="course-item">
          <img src="assets/img/coding.jpg" class="img-course" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>Web Development</h4>
              <p class="price">179
                <sup>€</sup></p>
            </div>

            <h3><a href="course-details.html">Formation HTML et CSS : Le Guide du Débutant</a></h3>
            <p>Commencez le développement Web avec les bonnes bases et pratiques avec ce super Guide pour le débutant
            </p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                <img src="assets/img/cours.jpg" class="img-course" alt="">
                <span>Antonio</span>
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bx bx-user"></i>&nbsp;50
                &nbsp;&nbsp;
                <i class="bx bx-heart"></i>&nbsp;65
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

      