
.course-item {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  margin: 1rem;

}




.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}



h1,
h2,
h3,
h4,
h5,
h6,
 p {
  font-family: "Poppins", sans-serif!important;
  
}




.categorie #categorie-flters {
  padding: 0rem;
  margin: 0 auto 1rem auto;
  list-style: none;
  text-align: center;
  border-radius: 2rem;
  color: #5f687b!important;
  font-family: "Poppins", sans-serif;
}

.categorie #categorie-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 7;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.categorie #categorie-flters li:hover
{
  color:  #206bfb;
}
.categorie #categorie-flters li.filter-active {
  color: #16df7e;
}

.categorie #categorie-flters li:last-child {
  margin-right: 0;
}



.cours {
  padding-top: 1rem;
}

.courses .course-item {
    border-radius: 0.3;
    border: 0.15rem solid #eef0ef;

  }
  
  .img-courses {
    max-height: 10rem;
    width: 100%;
    object-fit: cover;
  }
  
  .courses .course-content {
    padding: 0rem;
    margin-top: 1rem;
  }
  
  .courses .course-content h3 {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .courses .course-content h3 a {
    color:#5fcf80;
    transition: 0.3s;
  }
  
  .courses .course-content h3 a:hover {
    color: #206bfb;
  }
  
  .courses .course-content p {
    font-size: 1rem;
    color:  #206bfb;
  }
  
  .courses .course-content h4 {
    font-size:small;
    background: #5fcf80;
    padding: 0.5rem 1rem;
   max-width: auto;
  }
  
  .courses .course-content .price {
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    color: #5f687b;
    display: flex;
  }
  
  .courses .trainer {
    padding-top: 1rem;
    border-top: 0.1rem solid #eef0ef;
  }
  
  .courses .trainer .trainer-profile img {
    max-width: 2rem;
    border-radius: 2rem;
  }
  
  .courses .trainer .trainer-profile span {
    padding-left: 0.6rem;
    font-weight: 600;
    font-size: 0.rem;
    color:#5f687b;
  }
  
  .courses .trainer .trainer-rank {
    font-size: 1rem;
    color:#5f687b;
  }
  
  .section-title h2::after {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: inline-block;
    background: #16df7e;
    margin: 0.2rem 0.5rem;
  }
  .section-title {
    color: #5f687b!important;
    padding: 1rem;
    margin-right: 1rem;
   
}
 
 
.btn{
  padding: 0.65rem 1.5rem;
  margin-left: 1rem;
  border-radius: 2%;
  line-height: 1;
  color: #206bfb;
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border: 0.1rem solid#206bfb;
  
  
}


.btn:hover,
.btn:focus:hover {
  background:  #16df7e;
  color: #fff;
  border-color: #16df7e;
}