<!-----------------------------------------------------------Caroussel--------------------------------------->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/education.jpg" class="d-block w-100 img-fluid img-fluid"
        style="max-height: 88vh; object-fit: cover" />
    </div>   
</div>

<!-- Top Bar -->
<div class="top_bar">
  <div class="top_bar_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="top_bar_content d-flex flex-row align-items-center">
            <ul class="top_bar_contact_list">
              <li>
                <div class="feature_icon d-flex flex-row align-items-center"><img src="assets/img/icon_user.png"
                    alt="">200 Utilisateurs</div>
              </li>
              <li>
                <div class="feature_icon d-flex flex-row align-items-center"><img src="assets/img/icon_éducation.png"
                  alt="">70 Cours</div>
              </li>
              <li>
                <div class="feature_icon d-flex flex-row align-items-center"><img src="assets/img/icon_medals.png"
                  alt="">12 Certificat</div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<style>
  .left {
    float: left;
  }
</style>