<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="">Accueil</a></li>
        <li class="dropdown"><a routerLink="/formation"><span>Formation</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li *ngFor="let item of this.categoriesInitiales">
              <a routerLink="/formation/{{item.id}}">{{ item.intitule }}</a>
            </li>

          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="/equipe">Equipe</a></li>
        <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
      </ul>

      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <div>
      <!------------------------------------- bouton connexion ---------------------------------------->
      <div class="contact">
        <button class="get-started-btn" type="button" (click)="openPopup()">Se connecter</button>
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header text-center border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div *ngIf="isLoggedIn; else loggedOut">
                  Logged in as {{roles}}.
                </div>

                <ng-template #loggedOut>
                  <div class="row col-sm-6" style="max-width:350px;">
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                      <div class="form-group">
                        <label for="username" style="float: left;">Nom</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
                          #username="ngModel" required />

                      </div>
                      <div class="form-group">
                        <label for="password" style="float: left;">Mot de passe</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
                          #password="ngModel" required minlength="6" />

                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary">Se connecter</button>
                        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                          Login failed: {{errorMessage}}
                        </div>
                      </div>
                    </form>

                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!------------------------------------- Bouton inscription  ---------------------------------------->
    <div>
      <button type="button" class="getstarted scrollto" routerLink="/inscription">Inscription</button>
      <button *ngIf="isLoggedIn" type="button" class="getstarted scrollto" (click)="logout()">Se déconnecter</button>
    </div>

  </div>
</header><!-- End Header -->

<main id="main" data-aos="fade-in">






















  <style>
    .left {
      float: left;
    }
  </style>