<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="logo" class="img-fluid"></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="">Accueil</a></li>
        <li class="dropdown"><a routerLink="/formation"><span>Formation</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li *ngFor="let item of this.categoriesInitiales">
              <a routerLink="/formation/{{item.id}}">{{ item.intitule }}</a>
            </li>
            <hr>
            <li><a routerLink="/formation">Communication</a></li>
            <li><a routerLink="/formation">Digital</a></li>
            <li><a routerLink="/formation">Programmation</a></li>
            <li><a routerLink="/formation">Web</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="/equipe">Equipe</a></li>
        <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <div>
      <!------------------------------------- bouton connexion ---------------------------------------->
      <div class="contact">
        <button class="get-started-btn" type="button" (click)="openPopup()">Se connecter</button>
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header text-center border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="form-title text-center ">
                  <h4 class="text-uppercase text-center mb-5">Connexion</h4>
                </div>
                <div class="d-flex flex-column text-center">
                  <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label left" for="form2Example1">Email</label>
                      <input type="email" id="form2Example1" class="form-control"  placeholder="Ecrire ici..."/>
                      
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <label class="form-label left" for="form3Example4cg">Mot de passe</label>
                      <input type="password" id="form2Example2" class="form-control" placeholder="Ecrire ici..." />
                      
                    </div>
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                      <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                          <label class="form-check-label" for="form2Example31"> Se souvenir de moi </label>
                        </div>
                      </div>
                      <div class="col">
                        <!-- Simple link -->
                        <a class="form-check-label" href="#!">Mot de passe oublié?</a>
                      </div>
                    </div>
                    <!-- Submit button -->
                    <button type="button" class="get-started-btn btn-block mb-4">Se connecter</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>Pas encore un Membre? <a class="form-check-input" href="/home">S'inscrire</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!------------------------------------- Bouton inscription  ---------------------------------------->

    <div>
      <button type="button" class="getstarted scrollto" routerLink="/inscription">Inscription</button>
    </div>

  </div>
</header><!-- End Header -->

<main id="main" data-aos="fade-in">



  <style>
    .left{
      float: left;
    }
    </style>