.section-title h2::after {
    content: "";
    width: 8rem;
    height: 0.2rem;
    display: inline-block;
    background: #16df7e;
    margin: 0.4rem 1rem;
}


.section-title {
    padding-bottom: 2rem;
    padding-top: 8rem;
    margin-right: 2rem;
}



/*********************************
7. Course
*********************************/

.cours{
	padding-top: 10rem;
}


.course
{
	width: 100%;
	padding-top: 4rem;
	padding-bottom: 8rem;
	background: #FFFFFF;
}

.course_image {
	width: 100%;
}

.course_container
{
	width: 100%;
}
.course_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
	font-weight: 700;
	color: #384158;
}
.course_info
{
	width: 100%;
	height: 4rem;
	margin-top: 6rem;
	background: #f2f4f5;
}
.course_info_item
{
	width: 33.33333333%;
	padding-left: 2rem;
}
.course_info_item:not(:last-child)::after
{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: #d9dbdc;
	content: '';
}
.course_info_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 1rem;
	font-weight: 700;
	color: #384158;
}
.course_info_text
{
	margin-top: 0.5rem;
}
.course_info_text a
{
	font-size: 1rem;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.course_info_text a:hover
{
	color: #14bdee;}



