/*********************************
7. Course
*********************************/

.cours{
	padding-top: 150px;
}
.course
{
	width: 100%;
	padding-top: 57px;
	padding-bottom: 100px;
	background: #FFFFFF;
}
.course_container
{
	width: 100%;
}
.course_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	font-weight: 700;
	color: #384158;
}
.course_info
{
	width: 100%;
	height: 92px;
	margin-top: 68px;
	background: #f2f4f5;
}
.course_info_item
{
	width: 33.33333333%;
	padding-left: 30px;
}
.course_info_item:not(:last-child)::after
{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: #d9dbdc;
	content: '';
}
.course_info_title
{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	color: #384158;
}
.course_info_text
{
	margin-top: 8px;
}
.course_info_text a
{
	font-size: 14px;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.course_info_text a:hover
{
	color: #14bdee;}