<div class="course" style="margin-top:20px">
    <div class="container">
        <div class="row">
            <!-- Course -->
            <div class="col-lg-8">
                <div class="course_container">                                      
                    <!-- Course Image -->
                    <div class="course_image"><img src="images/course_image.jpg" alt=""></div>
                    <!-- Course Tabs -->
                    <div class="course_tabs_container">                       
                        <div class="tab_panels">
                            <!-- Course -->
                            <div class="col-lg-8">

                                <div class="course_container">
                                    <div class="course_title">{{ formation?.intitule }}</div>
                                    <div
                                        class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                                        <!-- Course Info Item -->
                                        <div class="course_info_item">
                                            <div class="course_info_title">Teacher:</div>
                                            <div class="course_info_text"><a href="#">{{ formation?.formateur.nom }} {{ formation?.formateur.prenom }}</a></div>
                                        </div>

                                        <!-- Course Info Item -->
                                        <div class="course_info_item">
                                            <div class="course_info_title">Durée:</div>
                                            <div class="rating_r rating_r_4"><a href="#">{{ formation?.duree }}</a>
                                            </div>
                                        </div>

                                        <!-- Course Info Item -->
                                        <div class="course_info_item">
                                            <div class="course_info_title">Categories:</div>
                                            <div class="course_info_text"><a href="#">{{ formation?.categorie.intitule }}</a></div>
                                        </div>
                                    </div>
                                   <!-- Course Image -->
                                    <div class="course_image"><img src="images/course_image.jpg" alt=""></div>
                                    <!-- Course Tabs -->
                                    <div class="course_tabs_container">
                                        <div class="tab_panels">
                                            <!-- Description -->
                                            <div class="tab_panel active">
                                                <div class="tab_panel_content">
                                                    <div class="tab_panel_text">
                                                        <p>{{ formation?.descriptif }}</p>
                                                    </div>
                                                    <div class="tab_panel_text">
                                                        <p>{{ formation?.prix }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>