<app-caroussel></app-caroussel>
<app-rechercher></app-rechercher>

<!-- Features -->

<div class="features">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h1 class="section_title">Bienvenue sur la Plateforme It-Training</h1>
          <div class="section_subtitle">
            <p>Développer vos compétences sur notre Plateforme de E-learning innovante dédiée à la réussite pédagogique.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row features_row">

      <!-- Features Item -->
      <div class="col-lg-3 feature_col">
        <div class="feature text-center trans_400">
          <div class="feature_icon"><img src="assets/img/icon_1.png" alt=""></div>
          <h3 class="feature_title">Des formateurs experts</h3>
          <div class="feature_text">
            <p>Formez-vous auprès de nos meilleurs formations et à votre rythme</p>
          </div>
        </div>
      </div>

      <!-- Features Item -->
      <div class="col-lg-3 feature_col">
        <div class="feature text-center trans_400">
          <div class="feature_icon"><img src="assets/img/icon_2.png" alt=""></div>
          <h3 class="feature_title">Bibliothèques</h3>
          <div class="feature_text">
            <p>Consulter notre bibliothèque de formation</p>
          </div>
        </div>
      </div>

      <!-- Features Item -->
      <div class="col-lg-3 feature_col">
        <div class="feature text-center trans_400">
          <div class="feature_icon"><img src="assets/img/icon_3.png" alt=""></div>
          <h3 class="feature_title">Meilleurs cours</h3>
          <div class="feature_text">
            <p>Accéder a nos différents parcours de formation</p>
          </div>
        </div>
      </div>

      <!-- Features Item -->
      <div class="col-lg-3 feature_col">
        <div class="feature text-center trans_400">
          <div class="feature_icon"><img src="assets/img/icon_4.png" alt=""></div>
          <h3 class="feature_title">Certifications</h3>
          <div class="feature_text">
            <p>Valider vos connaissances, et préparez vous aux certifications </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- ======= Popular Courses Section ======= -->
<section id="popular-courses" class="courses">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Formation</h2>
      <h3>Les meilleurs cours</h3>
    </div>

    <div class="row" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="course-item">
          <img src="assets/img/design thinking.jpg" class="img-fluid" alt="...">
          
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>Design Thinking</h4>
              <p class="price">240€</p>
            </div>

            <h3><a href="/details-formation">Design Web</a></h3>
            <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
            </p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
                <span>Jacke Masito</span>
              </div>
              <a href="#!" class="btn btn-primary">Voir</a>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bx bx-user"></i>&nbsp;50
                &nbsp;&nbsp;
                <i class="bx bx-heart"></i>&nbsp;65
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="course-item">
          <img src="assets/img/cours.jpg" class="img-fluid" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>Marketing</h4>
              <p class="price">250€</p>
            </div>

            <h3><a href="/details-formation">Data Scientist</a></h3>
            <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
            </p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                <img src="assets/img/team-5.jpg" class="img-fluid" alt="">
                <span>James William</span>
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bx bx-user"></i>&nbsp;35
                &nbsp;&nbsp;
                <i class="bx bx-heart"></i>&nbsp;42
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="course-item">
          <img src="assets/img/developpement_java.jpg" class="img-fluid" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              
              <h4>Content</h4>
              <p class="price">180€</p>
            </div>

            <h3><a href="/details-formation">Copywriting</a></h3>
            <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.
            </p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                <img src="assets/img/team-6.jpg" class="img-fluid" alt="">
                <span>Veronica Vahn</span>
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bx bx-user"></i>&nbsp;20
                &nbsp;&nbsp;
                <i class="bx bx-heart"></i>&nbsp;85
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="courses_button trans_200"><a href="/formation">En savoir plus</a></div>
    </div>
  </div>
</section><!-- End Popular Courses Section -->