/**
* Get Startet Button 
*/

h1,
h2,
h3,
h4,
h5,
h6,
p
{
  
  font-family: "Poppins", sans-serif;
  color: #5f687b!important;
}

h2 {

  padding-top: 50px;
}


.contact {
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
 
}

.card-body {

  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.card {
font-size: 18px;
  font-weight: 600;  
  color: #5f687b;
}

.form-group {
  padding: 20px;
}


.btn {
 
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
  background: #206bfb;
  color: #fff;
  border-radius: 5px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: none;
}


.btn:hover {
  background:#16df7e;
  color: #fff;
}

.btn:focus:hover{
  background:#16df7e;
  border-color: #16df7e;
  color: #fff;
}







