/**
* Get Startet Button 
*/

h1,
h2,
h3,
h4,
h5,
h6,
p
{
  
  font-family: "Poppins", sans-serif;
  color: #5f687b!important;
}

h2 {

  padding: 30px;
}
.contact {
  padding-top: 120px;
  padding-bottom: 80px;
  text-align: center;
 
}

.form-control-lg {
  font-size: 14px;
}
.form-label {
  font-weight: 600;  
  color: #5f687b;
}

.form-check-label {
  color: #5f687b;
}
.fw-bold {
  color: #206bfb;
  font-family: "Poppins", sans-serif;
}
.get-started-btn {
  margin-left: 20px;
  background: #16df7e;
  color: #fff;
  border-radius: 5px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: none;
}

.get-started-btn:hover {
  background: #206bfb;
  color: #fff;
}


.getstarted{
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 1;
  color: #5f687b;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #cdd1d9;
}


.getstarted:hover,
.getstarted:focus:hover {
  background: #206bfb;
  color: #fff;
  border-color: #206bfb;
}


